We are using bidirectional encryption support and cannot find way to re-implement it in v1.2.3

Previously hpke-js allows to create reverse direction context.
After v1.00, this feature is dropped.
However, so far (v1.2.3), there isn't a way to construct a new hpke context using exported key, nonce, etc.

Basically what want to do:
1. derive new key, nonce, and exporter secret with SenderContext's exportersecret (this is doable via SenderContext.export
2. construct a recipient context with the exported key and nonce. 

The step 2 does not seem to be supported by V1.2.3

I am wondering if we can expose APIs from Ciphersuite to make this possible?
E.g., add a new function called constructRecipientContext(key, base_nonce, seq, exporter_secret) and its variant for SenderContext: constructSenderContext(key, base_nonce, seq, exporter_secret) to CiphersuiteNative

I was not aware that the bi-directional functionality was being used... Sorry for removing the bi-directional enc support.

Please wait for a while. I will respond within today in JST.

Hi @Zhiyi-Zhang,

Below, you will find sample code for achieving bidirectional encryption as described in [RFC9180 (Section 9.8)](https://www.rfc-editor.org/rfc/rfc9180.html#section-9.8).

https://github.com/dajiaji/hpke-js/blob/main/test/sample.test.ts#L894-L953

For a slightly more complex example, you can find sample code for bidirectional encryption in OHTTP below.

https://github.com/dajiaji/hpke-js/blob/main/test/sample.test.ts#L955-L1037

It might be a little bit less user-friendly, but by following the sample code above, bidirectional encryption can be achieved. Is this not sufficient?

Hi @dajiaji no worries and thank you for the reponse/pointers.
We added the bidirectional support on top of hpke-js. Many thanks!
I will close the issue as well.